{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Workshop list" %}{% endblock %}

{% block content %}
<h2>{% trans "Available workshops" %}</h2>

{% if workshops %}
    <ul>
    {% for workshop in workshops %}
        <li>
            <h3><a href="{% url 'workshops:detail' workshop.id %}">{{ workshop.title }}</a></h3>
            <p>{% trans "Date" %}:{{ workshop.start_date }}</p>
            <p>{% trans "Location" %}:{{ workshop.location }}</p>
        </li>
    {% endfor %}
    </ul>
{% else %}

    <p>{% trans "No workshops available yet" %}</p>
{% endif %}

{% endblock %}